{% extends 'base.html' %}

{% block header %}
<h1 style="display: flex; margin:1% 0%; align-items: center; justify-content: space-between;">
  <div>Products</div>
  <a class="Button" id="green-button" href="{{ url_for('add_product') }}"> Add new Product </a>
  <a class="Button" id="red-button" href="{{ url_for('remove_product_page') }}"> Remove Product </a>
</h1>
{% endblock %}


{% block content %}
{% for cust in customers %}
<article class="post">
  <header>
    <div>
      <h1>{{ cust['cust_no'] }}</h1>
      <div class="about">in {{ cust['name'] }}</div>
    </div>
    <a class="action" href="gb.com">Edit</a>
  </header>
  <p class="body">€ {{ cust['balance'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}