{% extends 'base.html' %}

{% block header %}
<h1 style="display: flex; margin:1% 0%; align-items: center; justify-content: space-between;">
  <div>Products</div>
  <a class="Button" id="green-button" href="{{ url_for('add_product') }}"> Add new Product </a>
  <a class="Button" id="red-button" href="{{ url_for('remove_product_page') }}"> Remove Product </a>
</h1>
{% endblock %}


{% block content %}
{% for prod in products %}
<article class="post">
  <header>
    <div style="align-self: flex-start;">
      <h1>{{ prod['name'] }}</h1>
      <div class="about">sku: {{ prod['sku'] }}</div>
    </div>
    <div style="display: flexbox; margin-top: 1%;">
      <a class="action"
      href="{{ url_for('product_edit_page', product_number=prod['sku'], price=prod['price'], name=prod['name'])}}">Edit</a>
      <p>€ {{ prod['price'] }}</p>
    </div>
  </header>
  <span style="margin-left: 0.4%;">Description: <p class="about" style="margin-left: 1.3%;">{{prod['description']}}</p> </span>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}