<!doctype html>
<title>{% block title %}{% endblock %} - BIG APP</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav style="justify-content: space-between;">
  <div style="margin: 0">
    <h1><a href="/">BIG APP</a></h1>
  </div>
  <img style="margin: auto;"
    src="https://www.researchgate.net/publication/333842517/figure/fig9/AS:770989671604230@1560829670414/I5s-signature-sticker-emoji-the-Pokemon-Squirtle-wearing-sunglasses-a-popular.jpg"
    height="12.5%" width="12.5%"
    alt="Bank">
  <ul>
    <li><a href="{{ url_for('product_index') }}">Products</a></li>
    <li><a href="{{ url_for('customer_index') }}">Customers</a></li>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>